NEXTAUTH_URL="http://localhost:3000"

# generated secret for NextAuth.js
# You can generate a new secret using `openssl rand -base64 32`
AUTH_SECRET=""

# Get from session cookies in advent of code. Make sure the user has joined the leaderboard
AOC_SESSION_COOKIE=""